.editor-bar {
    background: #f9f9f9;
    height: 55px;
}

.editor-button {
    background: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    width: 40px;

    &:hover {
        background: #e6e7f7;
        color: #2f3ab2;
    }
}

.top-round {
    border-radius: 3px 3px 0 0;
}

.bottom-round {
    border-radius: 0px 0px 3 3;
}