html,
body {
  background-color: rgb(242, 242, 242);
}

.nav-left {
  top: 100px;
  z-index: 1;
  background-color: rgb(242, 242, 242);
}

.nav-left a {
  text-decoration: none;
}

.nav-left a span {
  color: #555555;
  margin: 0 auto;
  padding: 0;
  padding: 5px;
}

.nav-left a .heart:hover {
  color: red;
}

.nav-left a .mode_comment:hover {
  color: orange;
}

.nav-left a .bookmark:hover {
  color: purple;
}

.nav-left a .more_horiz:hover {
  background: rgba(150, 150, 150, 0.1882352941);
  border-radius: 50%;
}

.nav-left a p {
  color: #555555;
  font-size: 0.9rem;
  margin: 5px auto;
  padding: 0;
}

.aside-card1 {
  background: linear-gradient(black 0 30px, #fafafa 30px 100%);
}

.aside-card1__anchor1 {
  flex-basis: 100%;
  text-decoration: none;
}

.aside-card1__anchor1 img {
  display: inline-block;
  width: 55px;
}

.aside-card1__anchor1 h3 {
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 5px;
  position: relative;
  top: 15px;
}

.aside-card1__userinfo2 p {
  color: #404040;
}

.aside-card1__anchor1 h3:hover {
  color: #2f3ab2;
}

.aside-card1__button {
  background: #3b49df;
}

.aside-card1__button:hover {
  background: #2f3ab2;
}

.aside-card2 {
  background: #fafafa;
}

.aside-card2 h3 {
  color: #404040;
  font-size: 1.17rem;
  font-weight: bold;
  margin: 15px;
}

.aside-card2__anchor1 {
  color: #3b49df;
  font-size: 1.17rem;
  font-weight: bold;
  text-decoration: none;
}

.aside-card2__anchor2 {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-top: 1px solid rgb(240, 240, 240);
  color: #404040;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.aside-card2__anchor3 {
  color: #404040;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.aside-card2__anchor4 {
  border-top: 1px solid rgb(238, 238, 238);
  color: #404040;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.aside-card2__paragraph1 {
  margin: 0 0 15px 0;
}

.aside-card2__paragraph2 {
  font-size: 0.9rem;
  margin: 0;
}

.aside-card2__anchor2:hover {
  background: white;
}
.aside-card2__anchor2:hover .aside-card2__paragraph1 {
  color: #3b49df;
}

.aside-card2__anchor3:hover {
  background: white;
}
.aside-card2__anchor3:hover .aside-card2__paragraph1 {
  color: #3b49df;
}

.aside-card2__anchor4:hover {
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.aside-card2__anchor4:hover .aside-card2__paragraph1 {
  color: #3b49df;
}

.aside-card3 {
  background: #fafafa;
  top: 80px;
  z-index: 0;
}

.aside-card3__top__right img {
  background: rgb(225, 225, 225);
  display: inline-block;
  height: 30px;
  width: 30px;
}

.aside-card3__top__right h5 {
  color: #555555;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0px 10px;
}

.aside-card3__top span {
  border-radius: 6px;
  color: #404040;
  font-size: 1.4rem;
}

.aside-card3__top span:hover {
  background: rgba(182, 182, 182, 0.1882352941);
  color: #404040;
  cursor: pointer;
  transition: 0.4s;
}

.aside-card3__top #modal__input {
  display: none;
}

.aside-card3__top__modal {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 56px;
  visibility: hidden;
  z-index: 2;
}

#modal__input:checked ~ .aside-card3__top__modal {
  opacity: 1;
  visibility: visible;
}

.aside-card3__top__modal__container {
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px 5px rgba(182, 182, 182, 0.1882352941);
  padding: 6px;
  width: 250px;
}

.aside-card3__top__modal__container a {
  align-items: center;
  border-radius: 6px;
  color: #404040;
  display: flex;
  gap: 5px;
  padding: 7px;
  text-decoration: none;
  width: 100%;
}

.aside-card3__top__modal__container a:hover {
  background: rgba(59, 73, 223, 0.1450980392);
  color: #2f3ab2;
  transition: 0.25s;
}

.aside-card3__top__modal__container div {
  background: #555555;
  height: 1px;
  margin: 8px 0;
  width: 100%;
}

.aside-card3__anchor1 {
  overflow: hidden;
}

.aside-card3__anchor1 img {
  margin: 15px auto;
  opacity: 0.95;
}

.aside-card3__anchor1 img:hover {
  opacity: 1;
  transition: 0.4s;
}

.aside-card3 h3 {
  color: #404040;
  font-size: 1.17rem;
  font-weight: bold;
}

.aside-card3__paragraph1 {
  color: #555555;
}

.aside-card3__paragraph1 a {
  color: #3b49df;
}

.aside-card3__paragraph1 a:hover {
  color: #2f3ab2;
}

.aside-card3__paragraph2 {
  color: #555555;
}/*# sourceMappingURL=style_index_post.css.map */